# Garmin credentials
GARMIN_EMAIL=your_email@example.com
GARMIN_PASSWORD=your_password

# Gcloud secret
GARMIN_SHEET_SECRET_NAME=projects/YOUR_PROJECT_ID/secrets/YOUR_SECRET_NAME/versions/latest

# Google Sheet ID, found in https://docs.google.com/spreadsheets/d/<ID>
SPREADSHEET_ID=your_sheet_id